.todo-main{
  position: absolute;
  top: 10%;
  left: 35%;
}
.todo-header{
  position: relative;
}
.todo-header-text{
  position: relative;
  display: inline-block;
  top: 0.3rem;
}
.todo-header-create{
  position: relative;
}
.todo-list{
  width: 100%;
  min-width: 25rem;
  overflow-x: auto;
  height: 30rem;
  
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}